*,
*::before,
*::after {
  box-sizing: border-box;

}

:root {
  --color-page-bg: #E8F7EE;
  --color-page-text: black;
  --color-header-bg: #006400;
  --color-header-text: #FFFFFF;
  --color-header-nav: #FFD700;
}

body {
  margin: 0rem;
  padding: 0rem;

  background-color: var(--color-page-bg);
  color: var(--color-page-text);

  font-family: sans-serif;
  line-height: 1.6;

}

input,
select,
textarea {
  font: inherit;
}